@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --off-white: rgba(250, 205, 73, 0.08);
  --pink: rgba(248, 94, 159, 1);
  --black: rgba(25, 24, 37, 1);
  --blue: rgba(93, 80, 198, 1);
  --opaque-black: rgba(25, 24, 37, 0.75);
  --red: rgba(255, 87, 34, 1);
}
@layer utilities {
  .bg-off-white {
    background-color: var(--off-white);
  }
  .text-pink {
    color: var(--pink);
  }
  .text--black {
    color: var(--black);
  }
  .text-blue {
    color: var(--blue);
  }
  .bg-schbang-blue {
    background-color: var(--blue);
  }
  .text-opaque-black {
    color: var(--opaque-black);
  }
  .text-red {
    color: var(--red);
  }
  .sliding-door {
    animation: slide 0.2s ease-in-out;
  }
  @keyframes slide {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
